.header {
  background-color: black;
  .container {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
  }
}

.uploadImage {
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    background-color: rgb(247, 230, 230);
    padding: 2rem;
    margin: 2rem auto;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 1px rgba(21, 21, 22, 0.2);
    h1 {
      font-size: larger;
      color: green;
      font-weight: bold;
    }
  }
}
